version: 2
jobs:
  build:
    docker:
      - image: cimg/node:18.20.8

    working_directory: ~/frontend-configs

    steps:
      - checkout

      - run:
          name: Install Javascript dependencies
          command: pnpm install

      - run:
          name: "Lint"
          command: pnpm lint

      - run:
          name: "Test"
          command: pnpm test

      - run:
          name: "Typecheck"
          command: pnpm typecheck
